<%= form_for(@alien_probe_doctor) do |f| %>
  <% if @alien_probe_doctor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@alien_probe_doctor.errors.count, "error") %> prohibited this alien_probe_doctor from being saved:</h2>

      <ul>
      <% @alien_probe_doctor.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
