<p id="notice"><%= notice %></p>

<h2>Spaceship: <%= @spaceship.name %></h2>

<p>
  <strong>Type of Ship:</strong>
  <%= @spaceship.ship_type %>
</p>

<!-- <h3>Upcoming Appointments:</h3>
<table>
  <thead>
    <tr>
      <th>Abductee</th>
      <th colspan="3"></th>
      <th>Probemeister</th>
      <th colspan="3"></th>
      <th>Date</th>
      <th colspan="3"></th>
    </tr>
    <tr>

    </tr>
  </thead>
</table>
 -->
<%= link_to 'Edit', edit_spaceship_path(@spaceship) %> |
<%= link_to 'Back', spaceships_path %>
